$primary: #3a36db;
$secondary: teal;
$light: #f1f4f9;
// $success: ;
// $info: ;
// $warning: ;
// $danger: ;
// $light: ;
// $dark: ;

@import "@/../node_modules/bootstrap/scss/bootstrap";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
}

.nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-nav > .nav-item {
  width: 100%;
}

.navbar-collapse {
  margin-top: 15px;
}

.btn-icon {
  margin-right: 5px;
}

.progress-bar {
  background-color: $green-700;
}

.progress {
  height: 6px;
}

.nav-link {
  border-radius: 15px;
}

.navbar-nav .nav-link {
  padding: 0.5rem;
}

.nav-pills .nav-link {
  border-radius: 2rem;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  background-color: $primary;
  color: $white;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: $secondary;
}

.card {
  border-radius: 2rem;
}

.card-header {
  background-color: $cyan-100;
}

.card-header:first-child {
  border-color: transparent;
  border-radius: 1.9rem 1.9rem 0 0 !important;
}
