$primary: #3a36db;
$secondary: teal;
$light: #f1f4f9;
// $success: ;
// $info: ;
// $warning: ;
// $danger: ;
// $light: ;
// $dark: ;

@import "@/../node_modules/bootstrap/scss/bootstrap";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.form-control {
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  background-color: $primary;
  color: $white;
}

.navbar:not(.side) {
  box-shadow: rgb(0 0 0 / 10%) 0px 4px 12px;
}

.navbar.side {
  align-content: flex-start;
  padding-top: 2.3rem;
}

@media only screen and (max-width: 1200px) {
  .navbar.side > .navbar-brand {
    display: none !important;
  }
}

.navbar-brand {
  align-self: start;
  color: black;
  padding-top: 0 !important;
  box-shadow: none !important;
}

.nav-link {
  display: flex;
  align-items: center;
  font-weight: 600;
}

.nav-buttons > .nav-item,
.navbar-nav > .nav-item {
  width: 100%;
}

.navbar-collapse.show > .navbar-nav,
.navbar-collapse.collapsing > .navbar-nav {
  margin-top: 15px;
}

.navbar-nav > .nav-item > .nav-link {
  justify-content: center;
}

.nav-buttons {
  list-style: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 5px;
  align-self: flex-start;
}

.btn-icon {
  margin-right: 5px;
}

.progress-bar {
  background-color: $green-700;
}

.progress {
  height: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-link {
  border-radius: 15px;
  padding: 0.8rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-pills .nav-link {
  border-radius: 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.nav-pills > .nav-item {
  margin-right: 10px;
}

.nav-buttons > .nav-item > .nav-link.active {
  background-color: $primary;
  color: $white;
}

.nav-buttons > .nav-item > .nav-link {
  justify-content: start;
  transition: font-size 0.3s ease-out;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: #d9e1e7;
  color: #809fb8;
  margin-right: 5px;
}

.nav-pills .nav-link {
  justify-content: center;
}

.card {
  border-radius: 1.07rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.card-header {
  background-color: #fff;
}

.card-header:first-child {
  border-color: transparent;
  border-radius: 1rem 1rem 0 0 !important;
}
